body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: url(../images/aurora-borealis-5-3.png);
  background-attachment: fixed;
}

h1 {
  font-family: "Monoton", cursive;
  color: #e0f2f1;
  padding: 20px 0px;
}
main {
  flex: 1 0 auto;
}
#currentUsers {
  margin: 40px auto;
  padding: 10px;
  font-size: 17px;
}
table,
.card-title,
#currentUsers,
p,
nav,
footer {
  font-family: "Gruppo", cursive;
}
#cardText {
  font-size: 20px;
}
#mapid {
  width: 100%;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  padding: none;
}

.page-footer {
  padding-top: 0px;
  min-height: 70px;
}
.dropdown-trigger {
  margin-left: 20px;
}

/* label color */
.input-field label {
  color: white;
}
::placeholder {
  color: white;
}

/* label underline focus color */
input.valid[type="number"] {
  border-bottom: 1px solid white;
}
/* valid color */
.input input[type="number"].valid {
  border-bottom: 1px solid white;
}
/* invalid color */
.input-field input[type="number"].invalid {
  border-bottom: 1px solid #f50057;
}

/* label focus color */
input.valid[type="number"],
input.valid[type="number"]:focus {
  color: white;
}
table {
  font-size: 17px;
}
