body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: url(../images/aurora-borealis-5-3.png);
  background-attachment: fixed;
}

h1 {
  font-family: "Monoton", cursive;
  color: #e0f2f1;
  padding: 20px 0px;
}
main {
  flex: 1 0 auto;
}
table,
.card-title,
p,
nav,
footer {
  font-family: "Gruppo", cursive;
}

#mapid {
  width: 100%;
  height: 370px;
  margin: none;
  padding: none;
}

.page-footer {
  padding-top: 0px;
  min-height: 70px;
}
.dropdown-trigger {
  margin-left: 20px;
}

/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white;
}
::placeholder {
  color: white;
}

/* label underline focus color */
.input-field input[type="text"] {
  border-bottom: 1px solid white;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #f50057;
}

#mapid {
  width: 350px;
  height: 350px;
}
