body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #b388ff, #a7ffeb, #b388ff);
}

h1 {
  font-family: "Monoton", cursive;

  padding: 20px 0px;
}
main {
  flex: 1 0 auto;
}
table,
.card-title,
/* p, */
nav,
footer {
  font-family: "Gruppo", cursive;
}
tbody {
  color: #f50057;
}
.page-footer {
  padding-top: 0px;
  min-height: 70px;
}

/* label color */
.input-field label {
  color: #6200ea;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #f48fb1;
}
::placeholder {
  color: #ea80fc;
}

/* label underline focus color */
.input-field input[type="text"] {
  border-bottom: 1px solid #6200ea;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #1de9b6;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #000;
}
